<!DOCTYPE html>
<html>
<head>
  <title>SportsMeet - Find a Pickup Game Near You!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
<%= render 'layouts/bootstrap' %>
</head>
<body>	
<%= render 'layouts/navbar' %>
 <div class="container-fluid">
    <%= yield %>
    <%= render 'layouts/footer' %>
 </div>
</body>
</html>
